* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  /* font-size: 100%; */
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation a {
  font-family: "Oswald", sans-serif;
  color: rgb(84, 85, 85);
  text-decoration: none;
  font-size: 26px;
  padding-right: 15px;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation a:active {
  color: rgb(163, 19, 19);
}

.banner {
  background-image: url("https://173171.lp.tobiz.net/img/1920x0/cfea4911c8e818a5b528a5b2947b0f49.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner__dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  position: relative;
  width: 940px;
}

.banner__content h1 {
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}

.banner__content p {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 20px 70px;
  font-size: 18px;
  border-radius: 7px;
  color: aliceblue;
  background-color: #ff8801;
  box-shadow: 5px 5px 13px #ff4500;
  cursor: pointer;
  z-index: 2;
}

button:hover {
  background-color: #f35f4b;
}

.advantage {
  background-image: url("https://173171.lp.tobiz.net/img/47-fon.png");
  background-position: center center;
  background-repeat: repeat;
  height: 450px;
  position: relative;
}

.advantage .container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.card {
  border: 1px solid rgb(204, 199, 199);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card img {
  padding-top: 20px;
}

.card h3 {
  margin-top: 20px;
  font-size: 24px;
  text-decoration: underline;
}

.card p {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
}

.about {
  display: flex;
}

.about__img {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.about__content {
  padding-top: 105px;
}

.about__content h2 {
  font-size: 48px;
  color: #2f2e2e;
  margin-bottom: 30px;
}

.about__content hr {
  border: 2px solid #ff4500;
  border-radius: 50px;
  margin-bottom: 30px;
  width: 150px;
}

.about__content p {
  color: #2f2e2e;
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.2;
}

.about button {
  margin-top: 30px;
  background-color: #ff8801;
  box-shadow: 5px 5px 7px #ff4500;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px;
}

.goods {
  background-image: url("https://173171.lp.tobiz.net/img/47-fon.png");
  background-position: center center;
  background-repeat: repeat;
  padding-bottom: 50px;
}

.goods .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.goods h2 {
  margin-top: 75px;
  font-size: 48px;
  color: #2f2e2e;
}

.goods hr {
  border: 1px solid #ff8801;
  box-shadow: 1px 1px 5px #ff4500;
  width: 200px;
}

.goods p {
  color: #2f2e2e;
  opacity: 0.9;
  font-size: 20px;
}

.goods__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.item {
  width: 48%;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #a09c9c;
  display: flex;
  gap: 20px;
}

.item img {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.item div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item h4 {
  padding-top: 15px;
  font-size: 20px;
  text-decoration: underline;
  font-weight: lighter;
}

.item p {
  line-height: 1.1;
  opacity: 0.8;
  font-weight: lighter;
}
.item span {
  font-size: 24px;
}

.item button {
  background-color: #ff8801;
  box-shadow: 2px 2px 5px #ff4500;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px;
  width: 55%;
  margin-bottom: 20px;
}

.banner_2 {
  background-image: url("https://173171.lp.tobiz.net/img/1920x0/cfea4911c8e818a5b528a5b2947b0f49.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
}

.banner_2::after {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.banner_2__content {
  display: flex;
  flex-direction: column;
  padding: 100px 130px;
  gap: 30px;
  align-items: center;
}

.banner_2__content h2 {
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  z-index: 3;
}

.banner_2__content p {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
  z-index: 3;
}

.review {
  background-image: url("https://173171.lp.tobiz.net/img/47-fon.png");
  background-position: center center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
}
.review__content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

hr {
  border: 1px solid #ff8801;
  box-shadow: 1px 1px 5px #ff4500;
  width: 200px;
}

.review__content h2 {
  font-size: 48px;
  color: #2f2e2e;
}

.review__content p {
  color: #2f2e2e;
  opacity: 0.9;
  font-size: 20px;
}

.review__card {
  display: flex;
  gap: 35px;
}

.review__card img::before {
  background-color: white;
}
.review__card img {
  border: 10px solid white;
}
.review__card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

h5 {
  text-decoration: underline;
  font-size: 26px;
  font-weight: lighter;
  color: #2f2e2e;
}

.review__card p {
  color: #2f2e2e;
  opacity: 0.9;
  font-size: 20px;
}
